include AUTHORS
include LICENSE
include README.rst
include CHANGELOG.txt
recursive-include fancy_cronfield/locale *
recursive-include fancy_cronfield/static *
recursive-include docs *
recursive-exclude * *.pyc